.git
.gitignore
.turbo
.opencode
!.opencode/
!.opencode/package.json
!.opencode/opencode.jsonc
!.opencode/env.d.ts
!.opencode/tool/
!.opencode/tool/**
!.opencode/skills/
!.opencode/skills/**
.sst
.idea
.vscode
.zed
.codex
.serena
.direnv

node_modules
**/node_modules

dist
**/dist
ts-dist
**/ts-dist

tmp
logs
result
playground
target

.env
.env.embed

*.log
*.bun-build
tsconfig.tsbuildinfo

.DS_Store
Session.vim
*~
