.git
.gitignore
.turbo
.opencode
.sst
.idea
.vscode
.zed
.codex
.serena
.direnv

node_modules
**/node_modules

dist
**/dist
ts-dist
**/ts-dist

tmp
logs
result
playground
target

.env
.env.embed

*.log
*.bun-build
tsconfig.tsbuildinfo

.DS_Store
Session.vim
*~
